:root {
    --text-color: #303030;
    --text-color-light: #FFFFFF;
    --background-color: #F7F7F7;
    --text-color-yellow: #FFDD81;
    --background-color-dark: #303030;
    --background-color-yellow: #FFDD81;
    --background-color-light: #FFFFFF;
    --border-color: #D5D5D5;
    --border-color-dark: #303030;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2,
h3 {
    font-family: var(--font-body);
    font-weight: 400;
}

h1 span,
h2 span,
h3 span {
    font-style: italic;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3rem;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--text-color);
}

/* ========Titulos & Labels======= */
.title {
    line-height: 1.1;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* ========Buttons======= */

.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
}

.btn-outline {
    border: 1px solid var(--border-color-dark);
    color: var(--text-color);
    background: transparent;
}



/* ========Nav======= */

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 1.8rem;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.main-menu ul a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

/* ========Hero======= */

.hero-section {
    background-color: var(--background-color-yellow);
    border-radius: 30px;
    padding: 4rem 3rem 3rem 3rem;
    margin-top: 2rem;
}

.hero-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 80px 0 0 0;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text h1 {
    font-size: 2.8rem;
    font-family: var(--font-heading);
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 1.1rem;
    max-width: 450px;
}

.hero-buttons .btn {
    margin-right: 10px;
}

.hero-image {
    flex: 1;
    text-align: center;
    z-index: 2;
}

.hero-image .image-container .stroke {
    position: absolute;
    display: inline-block;
    transform: translateY(30px) translateX(2px);
    min-width: 110%;
    min-height: 110%;
    top: -10%;
    left: -5%;
    z-index: -1;
}

.hero-image .image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    max-width: 100%;
    border-radius: 60px;
}

.tag {
    display: block;
    border: 1px solid var(--border-color-dark);
    border-radius: 30px;
    padding: 10px 30px;
    background-color: var(--background-color-light);
    margin-bottom: 1rem;
    text-align: center;
}

.floating-tag {
    position: absolute;
    z-index: 4;
}

.top-right {
    top: 50px;
    right: -30px;
}

.bottom-left {
    bottom: 20px;
    left: -50px;
}

.bottom-center {
    bottom: 100px;
    left: 20%;
}

.floating-icon {
    position: absolute;
    z-index: 6;
    width: 75px;
    height: auto;
}

.top-left-start {
    top: 50px;
    left: 30px;
}

.bottom-right {
    bottom: 20px;
    right: 20px;
    width: 95px;
}

.top-left {
    top: -65px;
    left: -85px;
    width: 130px;
}

/* ========Hero Stat======= */

.hero-stat {
    margin-top: 4rem;
    border: 1px solid var(--border-color-dark);
    border-radius: 30px;
}

.stat-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px 10px 40px;
    gap: 60px;
}

.stat h2 {
    font-size: 2.5rem;
    font-family: var(--font-heading);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.stat p {
    font-size: 0.9rem;
    max-width: 180px;
}


/* ========What is Alliatus======= */
.what-is {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section-subtitle {
    color: var(--text-color-yellow);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-family: var(--font-heading);
    line-height: 1.8;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 2rem;
}

.steps-image {
    /* Terminar :-) */
    background-color: var(--background-color);
}

.steps-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.step-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color-light);
    border-radius: 30px;
    padding: 30px;
}

.step-card-invert {
    background-color: var(--background-color);
}

.step-card h3 {
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.step-card p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.9rem;
}
/* ========Mediaqueries 768px Tablets======= */
@media (max-width: 768px) {

    /* Aqui mientras se cumpla que el Width sea <= 768px */
    body {
        
    }

    .container {
        width: 100vw;
    }

    .main-nav {
        flex-wrap: wrap;
        position: relative;
    }

    /* ========Navegacion======= */
    .main-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 999;
        background-color: var(--background-color-light);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-menu ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .main-menu li {
        padding: 15px 0;
        width: 100%;
        border-bottom: 1px solid #F0F0F0;
    }
    .main-menu .btn-outline {
        margin: 20px 0;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ .main-menu {
        display: flex;
    }

    /* ========Hero======= */

    .hero-content {
        flex-direction: column-reverse;
    }

    .hero-text {
        align-items: center;
    }

    .hero-text h1 {
        text-align: center;
    }

    .hero-text p {
        letter-spacing: normal;
        word-spacing: normal;
    }

    .hero-buttons {
        margin-top: 3rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-stat {
        border: none;
    }
    .stat-bar {
        flex-wrap: wrap;
    }

    .section-grid {
         grid-template-columns: 1fr;
    }

}

/* ========Media para Hover======= */
@media (hover: hover) {
    .btn-dark:hover {
        opacity: 0.9;
    }

    .btn-outline:hover {
        background: var(--border-color-dark);
        color: var(--text-color-light);
    }
}